<?xml version="1.0"?>
<configuration scanPeriod="60 seconds">

	<property name="LOG_HOME" value="." />
	<property name="APP_NAME" value="siWeibo" />
	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] %logger{60}[%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${APP_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
		<!-- 过滤掉所有低于INFO级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<append>false</append>
		<prudent>false</prudent>
	</appender>
	<!-- mybatis 日志 -->
	<logger name="dao" level="DEBUG" />
	<!--  additivity 是否向上传递，默认true，导致传递到root配置 打印两遍日志-->
	<logger name="com.lhy.si" level="DEBUG" additivity="false">
		<appender-ref ref="console"/>  
		<appender-ref ref="file"/>
	</logger>
	<logger name="net.sf.ehcache" level="ERROR" />
	
	
	<!-- 日志级别 -->
	<root>
		<!-- 需要详细日志请设为debug -->
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</configuration>   