<!DOCTYPE html>
<html>
<head th:fragment="head">
<title th:text="${id}"></title>
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.serializejson.js}"></script>
<script type="text/javascript" th:src="@{js/common.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.cookie.js}"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>


<!-- <link  rel="stylesheet" type="text/css" th:href="@{css/style.css}"/> -->
</head>
</html>
