<!DOCTYPE html>
<html>
  <head th:include="header :: head"> 
  </head>
  <script type="text/javascript">
  	console.log(localStorage.token);
  		console.log(localStorage.userId);
  </script>
  <body>
  <a id="test">i am test</a>
    This is my HTML page.11 <br/>
    <p th:text="'hello '+ ${attr}"></p>
    <a th:href="@{http://blog.csdn.net/u012706811/(orderId=${attr})}">绝对路径</a>
	<a th:href="@{/}">相对路径</a>
	<a th:href="@{~/he/}">服务器根目录</a><br/>
	<a th:href="@{css/style.css}" href="css/style1.css">Content路径,默认访问static下的css文件夹</a>
	<a th:href="@{/css/style.css}" href="css/style1.css">同上</a>
	<span th:text="|，只能包含变量表达式, ${attr}|"></span><br/>
	 <p th:utext="'hello '+ ${attr}"></p><br/>
	 获取session<p th:text="${session.user}"></p><br/>
	 	
	 <p>
</p><br/>
	 
	 <div th:class="content">...</div><br/>
	 
	 <div th:include="header :: copy"></div>
	 	
	  <div th:include="this::#test"></div>
	  
	  </br>
  </body>
</html>
